<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeSolverApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <nav class="bg-blue-700 p-6">
      <h1 class="text-white text-xl font-bold">Challenge Solver App</h1>
    </nav>
    <div class="container mx-auto mt-6">
      <%= yield %>
    </div>
  </body>
</html>
